@charset "UTF-8";

/* 全体レイアウト
--------------------------------------- */
.header{
  margin-bottom: 10px;
}
.wrap{
  width: 100%;
  margin: 0 auto;
}
img{
  width: 100%;
}
.mainvisual{
  width: 100%;
}
.cont{
  width: 85%;
  height: 500px;
  margin: 0 auto;
}
.cont p{
  padding-top: 50px;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
#concept{
  background:deeppink;
}
#work{
  background:deepskyblue;
}
#contact{
  background:greenyellow;
}
footer{
  height: 500px;
}

/* ナビバー
--------------------------------------- */
.global-nav {
  height: 50px;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  width: 100%;
}
.global-nav__list {
  display: flex;
  justify-content: center;
}
.global-nav__list li {
  padding: 0 50px;
}
.global-nav__list li a {
  display: block;
  line-height: 50px;
  color: #111;
}

/* ナビバー固定 */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}